<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Les derniers ragots THP du moment</h1>
    <a href="/gossips/new/">Publier un nouveau ragot</a>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>
